<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <link href="../static/style/style.css" rel="stylesheet" />
        <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="../fontawesome/css/font-awesome.min.css" rel="stylesheet" />
        <title>TESTA Enzo</title>

        <script type="text/javascript" src="../static/js/main.js"></script>
    </head>


    <body>
        <div class="container-fluid text-center">
            
            <!-- HEADER -->
            <div class="header row">
                <div class="col-xs-offset-2 col-xs-2">
                    <a id="index" href="../index.html" class="texte lien">HOME</a>
                </div>
                <div class="col-xs-2">
                    <a id="studies" href="../templates/studies.html" class="texte lien selected">ABOUT ME</a>
                </div>
                <div class="col-xs-2">
                    <a id="portfolio" href="../templates/portfolio.html" class="texte lien">PORTFOLIO</a>
                </div>
                <div class="col-xs-2">
                    <a href="games.html" class="texte lien">GAMES</a>
                </div>
            </div>


<!-- BODY -->
<div class="corps">
    
    <div class="row" style="text-align:center; margin-top:-30px;margin-bottom:-60px; line-height: 140px;">
        <div class="col-xs-5">Hello</div>
        <div class="col-xs-2"><img src="../static/img/moi1.jpg" alt="Logo_mines_nantes.jpg" width="150px" class="img-thumbnail img-circle" /></div>
        <div class="col-xs-5">I'm Enzo</div>
    </div>
    
    <br/>

    <div class="cv">
        <br/>
        <div class="categorie">Education</div><br>
        
    <div class="row">
            <a href="http://www.gatech.edu/"><div class="col-xs-3"><img src="../static/img/gt.png" alt="Logo_GT.jpg" width="80px" class="img-thumbnail img-circle" style="position:absolute;" /></div></a>
            <div class="col-xs-6 ecole">Georgia Institute of Technology - Metz</div>
            <div class="col-xs-3 date" style="text-align:right;">2017-2018&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </div>
        
        <div class="studs">Research University in Georgia, USA<br>
            Master of Science in Computer Science</div>

        <br/>

        <div class="row">
            <a href="http://www.mines-nantes.fr/"><div class="col-xs-3"><img src="../static/img/mines.png" alt="Logo_IMTA.jpg" width="80px" class="img-thumbnail img-circle" style="position:absolute;" /></div></a>
            <div class="col-xs-6 ecole">Institut Mines Télécom Atlantique - Nantes</div>
            <div class="col-xs-3 date" style="text-align:right;">2015-2018&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </div>
        
        <div class="studs">Top-ranked Engineering School<br>
            1st year Master’s student in Computer Science & I.T. Systems</div>

        <br/>

        <div class="row">
            <a href="http://www.lycee-saintlouis.fr/"><div class="col-xs-3"><img src="../static/img/saintlouis.png" alt="Logo_saint_louis.jpg" width="80px" class="img-thumbnail img-circle" style="position:absolute;" /></div></a>
            <div class="col-xs-6 ecole">Lycée Saint Louis - Paris</div>
            <div class="col-xs-3 date">2013-2015&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </div>

        <div class="studs">Intensive preparatory courses<br>
            Undergraduate studies in Mathematics, Physics, Engineering & Computer Science</div>
        
        <br/>

        <div class="row">
            <a href="http://www.cite-scolaire-berlioz.org/"><div class="col-xs-3"><img src="../static/img/berlioz2.jpg" alt="Logo_berlioz.jpg" width="80px" class="img-thumbnail img-circle" style="position:absolute;" /></div></a>
            <div class="col-xs-6 ecole">Lycée Hector Berlioz - Vincennes</div>
            <div class="col-xs-3 date">2010-2013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </div>

        <div class="studs">Science Baccalaureate with highest honors<br>
            A-levels equivalent, focusing on Mathematics, Physics & English</div>
        
        <br/>
        <br/>
    
<!-- SKILLS -->     
    <div class="categorie">Skills</div><br/>
<!-- SKILLS --> 

    <div class="skills">
    
    <div class="row">
        <div class="col-xs-offset-1 col-xs-4" style="line-height: 25px;">
            <div class="col-xs-4 right"><i class="fa fa-globe fa-5x"></i></div>
            <div class="col-xs-3 left">Français<br/>English<br/>Español</div>
            <div class="col-xs-5 left">
                <i class="fa fa-star">&nbsp;</i><i class="fa fa-star">&nbsp;</i><i class="fa fa-star">&nbsp;</i><br/>
                <i class="fa fa-star">&nbsp;</i><i class="fa fa-star">&nbsp;</i><i class="fa fa-star-o">&nbsp;</i><br/>
                <i class="fa fa-star">&nbsp;</i><i class="fa fa-star-o">&nbsp;</i><i class="fa fa-star-o">&nbsp;</i>
            </div>
        </div>
        <div class="col-xs-7" style="line-height: 19px; font-size: 14px;">
            <div class="col-xs-2 right"><i class="fa fa-code fa-5x" style="margin-top: 3px;"></i></div>
            <div class="col-xs-2 left">JAVA<br/>PYTHON<br style="margin-bottom: 5px;">MATLAB<br>HASKELL</div>
            <div class="col-xs-3 left" style="margin-left: -25px; border-right: 1px solid;">
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle-o"></i>
                <br/>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle-o"></i>
                <i class="fa fa-circle-o"></i>
                <i class="fa fa-circle-o"></i>
                <br style="margin-bottom: 7px;">
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle-o"></i>
                <i class="fa fa-circle-o"></i>
                <br/>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle-o"></i>
                <i class="fa fa-circle-o"></i>
                <i class="fa fa-circle-o"></i>
                <i class="fa fa-circle-o"></i>
            </div>
            <div class="col-xs-1-offset col-xs-2 left" style="margin-left: 5px; margin-right: -8px;">HTML<br/>CSS<br style="margin-bottom: 7px;">JAVASCRIPT<br>SQL</div>
            <div class="col-xs-3 left">
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle-o"></i>
                <br/>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle-o"></i>
                <i class="fa fa-circle-o"></i>
                <i class="fa fa-circle-o"></i>
                <br style="margin-bottom: 7px;">
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle-o"></i>
                <i class="fa fa-circle-o"></i>
                <br/>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle-o"></i>
                <i class="fa fa-circle-o"></i>
                <i class="fa fa-circle-o"></i>
                <i class="fa fa-circle-o"></i>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-4" style="line-height: 25px;">
            <div class="col-xs-4 right"><i class="fa fa-terminal fa-5x"></i></div>
            <div class="col-xs-3 left">Mac OS<br/>Linux<br/>Windows</div>
            <div class="col-xs-5 left">
            <i class="fa fa-battery-full">&nbsp;</i><i class="fa fa-battery-full">&nbsp;</i><i class="fa fa-battery-half">&nbsp;</i><br/>
            <i class="fa fa-battery-full">&nbsp;</i><i class="fa fa-battery-half">&nbsp;</i><i class="fa fa-battery-empty">&nbsp;</i><br/>
            <i class="fa fa-battery-full">&nbsp;</i><i class="fa fa-battery-half">&nbsp;</i><i class="fa fa-battery-empty">&nbsp;</i></div>
        </div>
        <div class="col-xs-7" style="line-height: 19px; font-size: 14px;">
            <div class="col-xs-2 right"><i class="fa fa-desktop fa-5x" style="margin-top: 3px;"></i></div>
            <div class="col-xs-10" style="margin-left: -7px;">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-file-text-o"></i>Microsoft Office (Word, Excel, PowerPoint)</li>
                  <li><i class="fa-li fa fa-scissors"></i>LaTeX</li>
                  <li><i class="fa-li fa fa-wordpress"></i>WordPress</li>
                  <li><i class="fa-li fa fa-laptop"></i>Flask - Django</li>
                </ul>

            </div>
        </div>
    </div>

    <br>
    <br>

</div>

<!-- SKILLS --> 
    <div class="categorie">Experience</div><br>
<!-- SKILLS --> 
        
        <div class="row">
        <a href="https://www.gluckgames.com/"><div class="col-xs-3"><img src="https://d1qb2nb5cznatu.cloudfront.net/startups/i/941467-559ee0da4c7debe47c5c5907a0269bec-medium_jpg.jpg?buster=1449769443" alt="Logo_Gluck.jpg" width="90px" class="img-thumbnail img-circle" style="position:absolute;margin-top: 20px;" /></div></a>
        <div class="col-xs-6 title_exp left" >Game developer - <em>Front-end developer (Intern)</em>

        <br/>
        <div class="studs">
        <ul class="fa-ul left exp"><bold><em style="font-size: 15px;">Gluck Games creates Casual Real Money Games for online Lottery Market</bold></em>
                <li class="lindent" style="margin-top: 8px;"><i class="fa-li fa fa-line-chart"></i>Acquire an overview of front-end development today</li>
                <li class="lindent"><i class="fa-li fa fa-tasks"></i>Languages: HTML/CSS/JS, Typescript, Coffeescript...</li>
                <li class="lindent"><i class="fa-li fa fa-thumbs-up"></i>Framework & tools: Node, Webpack, Git, Phaser, PixiJS...</li>
        </ul>
        </div>
        </div>
            <div class="col-xs-3 date" style="text-align:right;">2017-2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </div>

    <br/>
    

        <div class="row">
        <a href="http://www.mind-je.fr/"><div class="col-xs-3"><img src="../static/img/mind.jpg" alt="Logo_MiND.jpg" width="90px" class="img-thumbnail img-circle" style="position:absolute;margin-top: 20px;" /></div></a>
        <div class="col-xs-6 title_exp left" >Junior-Enterprise MiND - <em>Management accountant</em>

        <br/>
        <div class="studs">
        <ul class="fa-ul left exp"><bold><em style="font-size: 15px;">Business oriented student association providing services in engineering</bold></em>
                <li class="lindent" style="margin-top: 8px;"><i class="fa-li fa fa-line-chart"></i>Ensured proper management of cash flows</li>
                <li class="lindent"><i class="fa-li fa fa-tasks"></i>Improved business processes (quality management)</li>
                <li class="lindent"><i class="fa-li fa fa-thumbs-up"></i>Involved in the recruiting & training process</li>
        </ul>
        </div>
        </div>
            <div class="col-xs-3 date" style="text-align:right;">2015-2016&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </div>

    <br/>
        
        <div class="row">
            <a href="http://www.mines-nantes.fr/">
                <div class="col-xs-3"><img src="../static/img/mines.png" alt="Logo_mines_nantes.jpg" width="90px" class="img-thumbnail img-circle" style="position:absolute; margin-top: 30px;" /></div>
            </a>
                
                <div class="col-xs-6 title_exp">Experience in project management at school<br/><em>Project Manager & Developper</em><br/>
                    <div class="studs">
                        <ul class="fa-ul left" style="margin-top: 8px;">
                            <li class="lindent" "><i class="fa-li fa fa-video-camera"></i>Designed a 3D scanner using a webcam, a projector and MATLAB</li>
                            <li class="lindent"><i class="fa-li fa fa-plug"></i>Built an autonomous moving robot able to follow a magnetic line</li>
                            <li class="lindent"><i class="fa-li fa fa-html5"></i>Developed a small app using Python/Flask & HTML/CSS/Bootstrap</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-xs-3 date" style="text-align:right;">2015-2016&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </div>

        <br/>

    <div class="row">

        <div class="col-xs-3"><img src="../static/img/graduation.png" alt="graduation.png" width="90px" class="img-thumbnail img-circle" style="position:absolute; margin-top: 6px;display: none;" /></div>

        <div class="col-xs-6 title_exp">Private lessons in Mathematics & Physics
            <div class="studs">
                <ul class="fa-ul left" style="margin-top: 8px;">
                    <li class="lindent" "><i class="fa-li fa fa-graduation-cap"></i>Homework assistance to high school students</li>
                    <li class="lindent"><i class="fa-li fa fa-smile-o"></i>Feel free to contact me if you need help in Nantes or Paris</li>
                </ul>
            </div>
        </div>

        <div class="col-xs-3 date">2013-2016&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    </div>

    <br/>
    
    <div class="row">

        <div class="col-xs-3"><img src="../static/img/graduation.png" alt="graduation.png" width="90px" class="img-thumbnail img-circle" style="position:absolute; margin-top: 6px;display: none;" /></div>

        <div class="col-xs-6 title_exp">Butchery TESTA (Vincennes) - <em>Shop Assistant</em>
            <div class="studs">
                <ul class="fa-ul left" style="margin-top: 8px;">
                    <li class="lindent" "><i class="fa-li fa fa-cutlery"></i>Provided help at the family business every Sunday</li>
                    <li class="lindent"><i class="fa-li fa fa-thumbs-o-up"></i>Want to taste good chicken ?</li>
                </ul>
            </div>
        </div>

        <div class="col-xs-3 date">2010-2013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    </div>
    <br/>


<div class="categorie">What I like</div><br/>

<div class="row center">
    <div class="col-xs-4" style="padding-left: 60px;">
        <i class="fa fa-rocket fa-4x"></i><br/><span class="hobbie">Sports</span><br><span style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 16px; display: none;">Tennis & Swimming</span>
    </div>
    <div class="col-xs-4">
        <i class="fa fa-graduation-cap fa-4x"></i><br/><span class="hobbie">Learning & Teaching</span><br><span style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 16px;display: none;">MOOCs & Tutoring</span>
    </div>
    <div class="col-xs-4" style="padding-right: 60px;">
        <i class="fa fa-map-signs fa-4x"></i><br/><span class="hobbie">Traveling</span><br><span style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 16px;display: none;">Go check !</span>
    </div>
</div>


<br>

</div> 

<br>

</div>

            <!-- FOOTER -->
            <div class="footer row">
                    <div class="col-xs-4" style="text-align: left;">
                        <span id="clock" class="texte"></span>
                    </div>

                    <div class="col-xs-4" style="text-align: center;">
                        <i class="fa fa-envelope texte"></i>
                        <span class="texte">&nbsp;&nbsp;enzotesta@hotmail.fr</span>
                    </div>


                    <div class="col-xs-4" style="text-align: right;">
                        <a href="https://fr.linkedin.com/in/enzo-testa-ba7174109"><i class="fa fa-linkedin texte"></i></a>
                        &nbsp;&nbsp;
                        <a href="https://github.com/Shrakka"><i class="fa fa-github texte"></i></a>
                        &nbsp;&nbsp;
                        <a href="https://angel.co/enzo-testa"><i class="fa fa-angellist texte"></i></a>
                    </div>
            </div>

    </body>
</html>
